@import url("../../colors.css");

.navbar {
    display: flex !important;
    min-width: 90vw;
    max-width: 90vw;
    margin-bottom: 3em;
    justify-content: center !important;
    justify-items: center !important;
    vertical-align: middle;
    border-radius: 0px 0px 18px 18px;
    color: var(--theme-overlay);
    background: var(--theme-crust);
}

.navbar ul {
    display: inherit;
    flex-direction: row;
    padding: 4px 2px;
}

.navbar ul li{
    display: inherit;
    margin: 4px 4px;
}