@import url("../../colors.css");

.navbar {
  display: flex !important;
  position: sticky;
  z-index: 1;
  top: 0px;
  height: 3.3em !important;
  width: 100vw !important;
  justify-content: center !important;
  justify-items: center !important;
  justify-self: center !important;
  border-radius: 0px 0px 14px 14px;
  color: var(--theme-overlay);
  background: var(--theme-crust);
}

.navbar ul {
  user-select: none;
  display: flex;
  padding: 0;
  place-items: center;
  place-content: center;
}

.navbar ul li {
  user-select: none;
  display: inline-flex;
  text-decoration: none;
  margin: 4px 4px;
}
