#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo.duck {
  width: auto;
  height: 6em;
  border-radius: 3%;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.duck:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo.react {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.container * {
  display: flex;
  justify-self: center;
  justify-items: center;
  justify-content: center;
}

.clock {
  /* Display mode and positioning */
  display: inherit !important;
  vertical-align: middle;
  
  /* Sizing */
  margin: 4px auto;
  padding: 4px 32px;
  width: fit-content;

  /* Shape styling */
  border-radius: 28px;
  background: #313244;
  border-color: #cba6f7;
  border-style: solid;
  /* Font styling */
  font-family: "Doto";
  font-weight: 700;

}

.read-the-docs {
  color: #888;
}
