@import "colors.css";
@import "/fonts/fonts.css";

html {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  place-content: center !important;
  place-items: center !important;
  place-self: center !important;
}

:root {
  place-items: center;

  line-height: 1.5;
  font-weight: 400;
  font-family: sans-serif;

  color-scheme: light dark;
  color: var(--theme-text);
  background-color: var(--theme-base);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.wrapper {
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
}

@media screen and (width > 428px) {
}

body {
  display: flex;
  place-items: center;
  place-content: center;
  min-width: 390px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  line-height: 1.15;
}

button:not(.duck) {
  border: 1px solid transparent;
  border-radius: 28px;

  color: var(--theme-text);
  background-color: var(--theme-button-bg);

  cursor: pointer;
  font-family: "Atkinson Hyperlegible Mono";
  font-weight: 700;
  transition: all 0.3s;
}

button:not(.duck):hover {
  color: var(--theme-button-text);
  background-color: var(--theme-button-hover);
  border-color: var(--theme-border-hover);
}

button:not(.duck, .joke-button),
button:not(.duck, .joke-button):hover {
  padding: 0.3em 0.6em;
}

button:not(.duck, .joke-button):focus,
button:not(.duck, .joke-button):focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button.joke-button {
  position: fixed;
  bottom: calc(var(--player-height) + 3em);
  border-radius: 28px;
  padding: 0 1em;
  height: 3em;
}

.container,
.container * {
  display: flex;
  max-width: 90dvw;
  flex-direction: column;
  text-align: center;
  place-items: center;
}

.containerRow {
  display: flex;
  flex-direction: row;
  place-items: center;
}

.giphy-embed {
  width: 384px;
  height: 384px;
  margin: 3em 8px;
  border-radius: 28px;
  border-style: none;
}

.emphasis {
  display: inline-flex;
  flex-direction: row;
  white-space: pre-wrap;
  font-style: italic !important;
  font-weight: 900 !important;
}

.spoiler {
  user-select: none;
  display: flex;
  color: transparent;
  background-color: var(--theme-crust);
  border-radius: 18px;
  padding: 0 2em;
  margin: 2em;
  align-self: center;
  text-align: center;
  width: fit-content;
  transition: all 250ms;
}

.spoiler:hover {
  color: var(--theme-text);
  background-color: transparent;
  transition: all 250ms;
}

.wrapper {
  padding: 0 0 var(--player-height);
}

@media screen and (390px <= width <= 428px) {
  h1 {
    font-size: 2.4em;
  }
  h2 {
    font-size: 1.6em;
  }
  p {
    font-size: 1.2em;
  }
  button:not(.duck, .joke-button) {
    font-size: 1em;
  }

  button.joke-button {
    font-size: 1.2em;
  }

  .giphy-embed {
    width: 256px;
    height: 256px;
  }
}

@media screen and (428px < width <= 1280px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
  button:not(.duck, .joke-button) {
    font-size: 1.2em;
  }
  p,
  button.joke-button {
    font-size: 1.3em;
  }
}

@media screen and (width > 1280px) {
  h1 {
    font-size: 3.5em;
  }
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 2em;
  }
  h4 {
    font-size: 1.75em;
  }
  button:not(.duck) {
    font-size: 1.3em;
  }
  p,
  button.joke-button {
    font-size: 1.5em;
  }
}
