@import "colors.css";
@import "/fonts/fonts.css";

html {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  place-content: center;
  place-items: center;
}

:root {
  place-items: center;

  line-height: 1.5;
  font-weight: 400;
  font-family: sans-serif;

  color-scheme: light dark;
  color: var(--theme-text);
  background-color: var(--theme-base);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: auto;
}

body {
  display: flex;
  min-width: 320px;
  max-width: 90vw;
  min-height: 100vh;
}

h1,
h2 {
  line-height: 1.1;
}

@media screen and (width <= 393px) {
  h1 {
    font-size: 2.4em;
  }
  h2 {
    font-size: 1.6em;
  }
  p {
    font-size: 1.2em;
  }
}

@media screen and (width > 393px) {
  h1 {
    font-size: 3.2em;
  }
  h2 {
    font-size: 2.4em;
  }
  p {
    font-size: 1.3em;
  }
}

button:not(.duck) {
  border-radius: 18px;
  border: 1px solid transparent;
  padding: 0.3em 0.6em;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--theme-button-bg);
  color: var(--theme-text);
  cursor: pointer;
  border-width: 1px;
  transition: all 0.25s;
}

button:not(.duck):hover {
  color: var(--theme-button-text);
  background-color: var(--theme-button-hover);
  border-color: var(--theme-border-hover);
}

button:not(.duck):focus,
button:not(.duck):focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container,
.container * {
  display: flex;
  flex-direction: column;
  text-align: center;
  place-content: center;
  place-items: center;
}

.containerRow {
  display: flex;
  flex-direction: row;
}

.giphy-embed {
  width: 384px;
  height: 384px;
  margin: 3em 8px;
  border-radius: 28px;
  border-style: none;
}

@media screen and (width<=393px) {
  .giphy-embed {
    width: 256px;
    height: 256px;
  }
}

.emphasis {
  display: inline-flex;
  flex-direction: row;
  white-space: pre-wrap;
  font-style: italic !important;
  font-weight: 700 !important;
}

.spoiler {
  user-select: none;
  display: flex;
  color: transparent;
  background-color: var(--theme-crust);
  border-radius: 18px;
  padding: 0 2em;
  margin: 2em;
  align-self: center;
  text-align: center;
  width: fit-content;
  transition: all 250ms;
}

.spoiler:hover {
  color: var(--theme-text);
  background-color: transparent;
  transition: all 250ms;
}
